/* TEAM  */
#team {
    display: flex;
    justify-content: space-around;
    padding: 20vh 0 0 0;
}

.team-item img {
    width: 50vh;
    /* padding: 5vh; */
}

.team-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5vh;
}

.team-item p {
    text-align: justify;
}

@media screen and (min-width: 993px) and (max-width: 1320px) {
    .team-item img {
        width: 20vh;
    }
}
